.carousel-container {
    position: relative;
  }

  .slick-dots {
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* .slick-dots li {
    display: inline-block;
    margin: 0 5px;
  }
   */
  .slick-dots li button {
    font-size: 12px;
    line-height: 1;
    color: #fff;
    opacity: 0.5;
    padding: 5px;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
  }
  
  .slick-dots li.slick-active button {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.5);
  }
  